@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http
@using Radzen.Blazor

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenHeader>
    <ChildContent>
        <div class="row justify-content-start align-items-center">
            <div class="col-5 d-flex align-items-center">
                <RadzenSidebarToggle Click="@(args => { sidebarExpanded = !sidebarExpanded; bodyExpanded = !bodyExpanded; })">
                </RadzenSidebarToggle>
                <RadzenLabel Text="Admin Sayfasına Hoşgeldin">
                </RadzenLabel>
            </div>          
        </div>
    </ChildContent>
</RadzenHeader>


<RadzenBody @ref="@body0" @bind-Expanded="@bodyExpanded">
    <ChildContent>
        <RadzenContentContainer Name="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 pt-4 pb-5 px-3 px-lg-5">
                        @Body
                    </div>
                </div>
            </div>
        </RadzenContentContainer>
    </ChildContent>
</RadzenBody>


<RadzenSidebar @ref="@sidebar0" @bind-Expanded="@sidebarExpanded">
    <ChildContent>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Haberler" Path="Admin/haber" Icon="newspaper"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Log Out" Path="/account/logout" Icon="logout"></RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </ChildContent>
</RadzenSidebar>


@code
{ RadzenBody body0;
    IEnumerable<Haber> haberler;
    bool sidebarExpanded = true;
    RadzenSidebar sidebar0;
    bool bodyExpanded = false;
    void FilterPanelMenu(ChangeEventArgs args)
    {
        var term = args.Value.ToString();
    } }
